
@{
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
}

<br />
 <div class="container">
                <div class="row pt-1 m-auto">
                    <div class="col-md-10 col-lg-12 pb-3">
                        <!-- Copy the content below until next comment -->
                        <div class="card card-custom bg-white border-white border-0">
                            <div class="card-custom-img" style="        background-image: url(/Content/images/lg_hero.jpg);"></div>
                            <div class="card-custom-avatar">
                                <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/global-logistics-2/512/69-256.png" alt="Avatar" />
                            </div>

                            <div class="card-body" style="overflow-y: auto">
                                <h4 class="card-title">Admin Functionalities</h4>
                                <div class="container">
                                    <div class="row pt-5 m-auto">
                                        <div class="col-md-8 col-lg-4 pb-3">
                                            <!-- Copy the content below until next comment -->
                                            <div class="card card-custom bg-white border-white border-0">
                                                <div class="card-custom-img" style="background-image: url(/Content/images/hero_bg_4.jpg);"></div>
                                                <div class="card-custom-avatar">
                                                    <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/global-logistics-2/512/69-256.png" alt="Avatar" />
                                                </div>

                                                <div class="card-body" style="overflow-y: auto">
                                                    <h4 class="card-title">Employee Details</h4>
                                                    <p>
                                                        Edit the Employee Details
                                                    </p>
                                                </div>
                                                <div class="card-footer" style="background: inherit; border-color: inherit;">
                                                    <a href="../Employees/Index"><button class="btn btn-success">Edit</button></a>
                                                </div>
                                            </div>
                                        </div>




                                        <div class="col-md-8 col-lg-4 pb-3">
                                            <!-- Copy the content below until next comment -->
                                            <div class="card card-custom bg-white border-white border-0">
                                                <div class="card-custom-img" style="background-image: url(/Content/images/hero_bg_4.jpg);"></div>
                                                <div class="card-custom-avatar">
                                                    <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/global-logistics-2/512/69-256.png" alt="Avatar" />
                                                </div>

                                                <div class="card-body" style="overflow-y: auto">
                                                    <h4 class="card-title">Ship Details</h4>
                                                    <p>
                                                        Edit the Ship Details
                                                    </p>
                                                </div>
                                                <div class="card-footer" style="background: inherit; border-color: inherit;">
                                                    <a href="../Ships/Index"><button class="btn btn-success">Edit</button></a>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="col-md-8 col-lg-4 pb-3">
                                            <!-- Copy the content below until next comment -->
                                            <div class="card card-custom bg-white border-white border-0">
                                                <div class="card-custom-img" style="background-image: url(/Content/images/hero_bg_4.jpg);"></div>
                                                <div class="card-custom-avatar">
                                                    <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/global-logistics-2/512/69-256.png" alt="Avatar" />
                                                </div>

                                                <div class="card-body" style="overflow-y: auto">
                                                    <h4 class="card-title">Purchasing Ships</h4>
                                                    <p>
                                                        Edit the Ship Details
                                                    </p>
                                                </div>
                                                <div class="card-footer" style="background: inherit; border-color: inherit;">
                                                    <a href="../Admins/PurchaseShip/1"><button class="btn btn-success">Edit</button></a>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="col-md-8 col-lg-4 pb-3">
                                            <!-- Copy the content below until next comment -->
                                            <div class="card card-custom bg-white border-white border-0">
                                                <div class="card-custom-img" style="background-image: url(/Content/images/hero_bg_4.jpg);"></div>
                                                <div class="card-custom-avatar">
                                                    <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/global-logistics-2/512/69-256.png" alt="Avatar" />
                                                </div>

                                                <div class="card-body" style="overflow-y: auto">
                                                    <h4 class="card-title">Profit Addition</h4>
                                                    <p>
                                                        Add the profits in the account
                                                    </p>
                                                </div>
                                                <div class="card-footer" style="background: inherit; border-color: inherit;">
                                                    <a href="../Admins/ProfitShip/1"><button class="btn btn-success">Edit</button></a>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="col-md-8 col-lg-4 pb-3">
                                            <!-- Copy the content below until next comment -->
                                            <div class="card card-custom bg-white border-white border-0">
                                                <div class="card-custom-img" style="background-image: url(/Content/images/hero_bg_4.jpg);"></div>
                                                <div class="card-custom-avatar">
                                                    <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/global-logistics-2/512/69-256.png" alt="Avatar" />
                                                </div>

                                                <div class="card-body" style="overflow-y: auto">
                                                    <h4 class="card-title">Employee Salary</h4>
                                                    <p>
                                                        Add Salaries
                                                    </p>
                                                </div>
                                                <div class="card-footer" style="background: inherit; border-color: inherit;">
                                                    <a href="../Admins/EmployeeSalary/1"><button class="btn btn-success">Edit</button></a>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-8 col-lg-4 pb-3">
                                            <!-- Copy the content below until next comment -->
                                            <div class="card card-custom bg-white border-white border-0">
                                                <div class="card-custom-img" style="background-image: url(/Content/images/hero_bg_4.jpg);"></div>
                                                <div class="card-custom-avatar">
                                                    <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/global-logistics-2/512/69-256.png" alt="Avatar" />
                                                </div>

                                                <div class="card-body" style="overflow-y: auto">
                                                    <h4 class="card-title">Ticket profits</h4>
                                                    <p>
                                                        Add the ticket Profits
                                                    </p>
                                                </div>
                                                <div class="card-footer" style="background: inherit; border-color: inherit;">
                                                    <a href="../Admins/TicketPrice/"><button class="btn btn-success">Edit</button></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                        </div>
                    </div>
                </div>

</div>
 <div class="container">
     <div class="row pt-1 m-auto">
         <div class="col-md-10 col-lg-12 pb-3">
             <!-- Copy the content below until next comment -->
             <div class="card card-custom bg-white border-white border-0">
                 <div class="card-custom-img" style="        background-image: url(/Content/images/lg_hero.jpg);"></div>
                 <div class="card-custom-avatar">
                     <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/global-logistics-2/512/69-256.png" alt="Avatar" />
                 </div>

                 <div class="card-body" style="overflow-y: auto">
                     <h4 class="card-title">Download Section</h4>
                     <div class="container">
                         <div class="row pt-5 m-auto">
                             <div class="col-md-8 col-lg-4 pb-3">
                                 <!-- Copy the content below until next comment -->
                                 <div class="card card-custom bg-white border-white border-0">
                                     <div class="card-custom-img" style="background-image: url(/Content/images/hero_bg_4.jpg);"></div>
                                     <div class="card-custom-avatar">
                                         <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/global-logistics-2/512/69-256.png" alt="Avatar" />
                                     </div>

                                     <div class="card-body" style="overflow-y: auto">
                                         <h4 class="card-title">User Excel</h4>
                                         <p>
                                             Here is the report of the user details in the excel format.
                                         </p>
                                     </div>
                                     <div class="card-footer" style="background: inherit; border-color: inherit;">
                                         <button class="btn btn-success" id="btnDownload">User Excel</button>
                                     </div>
                                 </div>

                                 <!-- Copy until here -->

                             </div>
                             <div class="col-md-8 col-lg-4 pb-3">
                                 <!-- Copy the content below until next comment -->
                                 <div class="card card-custom bg-white border-white border-0">
                                     <div class="card-custom-img" style="background-image: url(/Content/images/hero_bg_4.jpg);"></div>
                                     <div class="card-custom-avatar">
                                         <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/global-logistics-2/512/69-256.png" alt="Avatar" />
                                     </div>

                                     <div class="card-body" style="overflow-y: auto">
                                         <h4 class="card-title">Employee Excel</h4>
                                         <p>
                                             Here is the report of the employee details in the excel format.
                                         </p>
                                     </div>
                                     <div class="card-footer" style="background: inherit; border-color: inherit;">
                                         <button class="btn btn-success" id="btnEmployee">Employee Excel</button>
                                     </div>
                                 </div>

                                 <!-- Copy until here -->

                             </div>
                             <div class="col-md-8 col-lg-4 pb-3">
                                 <!-- Copy the content below until next comment -->
                                 <div class="card card-custom bg-white border-white border-0">
                                     <div class="card-custom-img" style="background-image: url(/Content/images/hero_bg_4.jpg);"></div>
                                     <div class="card-custom-avatar">
                                         <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/global-logistics-2/512/69-256.png" alt="Avatar" />
                                     </div>

                                     <div class="card-body" style="overflow-y: auto">
                                         <h4 class="card-title">Cargo Excel</h4>
                                         <p>
                                             Here is the report of the Cargo details in the excel format.
                                         </p>
                                     </div>
                                     <div class="card-footer" style="background: inherit; border-color: inherit;">
                                         <button class="btn btn-success" id="btnCargo">Cargo Excel</button>
                                     </div>
                                 </div>

                                 <!-- Copy until here -->

                             </div>
                             <div class="col-md-8 col-lg-4 pb-3">
                                 <!-- Copy the content below until next comment -->
                                 <div class="card card-custom bg-white border-white border-0">
                                     <div class="card-custom-img" style="background-image: url(/Content/images/hero_bg_4.jpg);"></div>
                                     <div class="card-custom-avatar">
                                         <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/global-logistics-2/512/69-256.png" alt="Avatar" />
                                     </div>

                                     <div class="card-body" style="overflow-y: auto">
                                         <h4 class="card-title">Passenger Excel</h4>
                                         <p>
                                             Here is the report of the Passenger details in the excel format.
                                         </p>
                                     </div>
                                     <div class="card-footer" style="background: inherit; border-color: inherit;">
                                         <button class="btn btn-success" id="btnPassenger">Passenger Excel</button>
                                     </div>
                                 </div>

                                 <!-- Copy until here -->

                             </div>
                             <div class="col-md-8 col-lg-4 pb-3">
                                 <!-- Copy the content below until next comment -->
                                 <div class="card card-custom bg-white border-white border-0">
                                     <div class="card-custom-img" style="background-image: url(/Content/images/hero_bg_4.jpg);"></div>
                                     <div class="card-custom-avatar">
                                         <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/global-logistics-2/512/69-256.png" alt="Avatar" />
                                     </div>

                                     <div class="card-body" style="overflow-y: auto">
                                         <h4 class="card-title">Feedback Excel</h4>
                                         <p>
                                             Here is the report of the Feedback details in the excel format.
                                         </p>
                                     </div>
                                     <div class="card-footer" style="background: inherit; border-color: inherit;">
                                         <button class="btn btn-success" id="btnFeedback">Feedback Excel</button>
                                     </div>
                                 </div>

                                 <!-- Copy until here -->

                             </div>
                         </div>
                     </div>


                 </div>
             </div>
         </div>
     </div>

 </div>     

            


<script>
    $(document).on('click', '#btnDownload', function () {
        window.open('/Admins/UserReport', '_blank');
    });
    $(document).on('click', '#btnEmployee', function () {
        window.open('/Admins/EmployeeReport', '_blank');
    });
    $(document).on('click', '#btnCargo', function () {
        window.open('/Admins/CargoReport', '_blank');
    });
    $(document).on('click', '#btnPassenger', function () {
        window.open('/Admins/PassengerReport', '_blank');
    });
    $(document).on('click', '#btnFeedback', function () {
        window.open('/Admins/FeedbackReport', '_blank');
    });
</script>
